<app-menu></app-menu>

<form  class="example-form" [formGroup]="formulario" >

    <div class="full">
        <h3>Datos personales</h3>
    </div>

    <table class="example-full-width" cellspacing="3">
        <tr>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombres</mat-label>
                    <input formControlName="nombre" matInput type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="apellido" type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Edad</mat-label>
                    <input formControlName="edad" matInput type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput formControlName="fechaNacimiento" type="date">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Lugar de nacimiento</mat-label>
                    <input matInput formControlName="lugarNacimiento" type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Deporte</mat-label>
                    <input matInput formControlName="disciplina" type="text">
                </mat-form-field>
            </td>

            <mat-form-field appearance="fill">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" disableRipple>
                    <mat-option value="F">Femenino</mat-option>
                    <mat-option value="M">Masculino</mat-option>
                </mat-select>
            </mat-form-field>


        </tr>
    </table>

    <table class="example-full-width" cellspacing="3">
        <tr>

            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Estado civil</mat-label>
                    <mat-select formControlName="estadoCivil" disableRipple>
                        <mat-option value="S">Soltero</mat-option>
                        <mat-option value="C">Casado</mat-option>
                        <mat-option value="D">Divorciado</mat-option>
                        <mat-option value="V">Viudo</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Modalidad</mat-label>
                    <input formControlName="modalidad" matInput type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Edad deportiva</mat-label>
                    <input formControlName="edadDeportiva" matInput type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Horas de practica</mat-label>
                    <input formControlName="horasPractica" matInput type="number">
                </mat-form-field>
            </td>


            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Dias a la semana</mat-label>
                    <input matInput formControlName="diasPractica" type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Seguro medico</mat-label>
                    <input matInput formControlName="seguroMedico" type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de paciente</mat-label>
                    <mat-select formControlName="tipoPaciente" disableRipple>
                        <mat-option value="A">Atleta</mat-option>
                        <mat-option value="En">Entrenador</mat-option>
                        <mat-option value="Em">Empleado</mat-option>
                        <mat-option value="Ex">Externo</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>


        </tr>
    </table>

    <table class="example-full-width" cellspacing="3">
        <tr>

            <td>
                <mat-form-field appearance="fill" class="example-full-width ">
                    <mat-label>Escolaridad</mat-label>
                    <mat-select formControlName="escolaridad" disableRipple>
                        <mat-option value="B">Basica</mat-option>
                        <mat-option value="M">Media</mat-option>
                        <mat-option value="U">Universitaria</mat-option>
                    </mat-select>
                </mat-form-field>
            <td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Horas de estudio</mat-label>
                    <input formControlName="horasEstudio" matInput type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Dias</mat-label>
                    <input matInput formControlName="diasEstudio" type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Direccion actual</mat-label>
                    <input formControlName="direccion" matInput type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Telefono celular</mat-label>
                    <input matInput formControlName="telefonoCelular" type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Telefono de casa</mat-label>
                    <input matInput formControlName="telefonoCasa" type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Tipo de sangre</mat-label>
                    <input matInput formControlName="tipoSangre" type="text">
                </mat-form-field>
            </td>


        </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
        <tr>

            <td class="derecha">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Peso (KG.)</mat-label>
                    <input formControlName="peso" matInput type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Altura (Cm)</mat-label>
                    <input formControlName="altura" matInput type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>TA</mat-label>
                    <input formControlName="TA" matInput type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>FC</mat-label>
                    <input formControlName="FC" matInput type="text">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>FR</mat-label>
                    <input formControlName="FR" matInput type="number">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Tempe.</mat-label>
                    <input formControlName="tempe" matInput type="text">
                </mat-form-field>
            </td>

            
            
            
        </tr>
        
        <td >
            <button class="boton-foto" type="button" mat-raised-button (click)="fileInput.click()">
                <mat-icon>add_a_photo</mat-icon>
            </button>
            <input hidden (change)="foto($event)" #fileInput type="file">

            <button [disabled]="formulario.invalid"color="primary" type="submit" mat-raised-button class="btn" (click)="guardar()">Guardar</button>
        </td>
   

    </table>
    

</form>




