<app-menu></app-menu>


<mat-grid-list cols="1" rowHeight="800px">

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Detalles</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://www.kindpng.com/picc/m/307-3076941_icono-persona-png-transparent-png.png" alt="Atleta">
            <mat-card-content>
              <p><strong>Nombres: </strong>{{atletas.nombre}} </p>
              <p><strong>Apellidos: </strong>{{atletas.apellido}} </p>
              <p><strong>Edad: </strong>{{atletas.edad}} </p>
              <p><strong>Sexo: </strong>{{atletas.sexo}} </p>
              <p><strong>Disciplina: </strong>{{atletas.disciplina}} </p>
          </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary" class="btn" (click)="editar(id)">Editar</button>
              <button mat-flat-button color="warn" class="btn" (click)="eliminar(id)">Eliminar</button>

            </mat-card-actions>
          </mat-card>
          

    </mat-grid-tile>

    
    

</mat-grid-list>
